.node{
    background-color : red;
    border-radius : 50%;
    width : 10px;
    height : 10px;
    position : absolute;
}

.StaticCircuitComponent{
    background-color : lightgray;
    padding : 10px;
    margin : 10px;
    cursor : pointer;
}

.CircuitComponent{
    background-color:  lightgray;
    padding : 10px;
    margin : 10px;
    cursor : pointer;
    position : absolute;
}

.wire {
    position: fixed;
    border-top: 2px solid black;
    border-left: 2px solid black;
}