version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    container_name: circuit-backend
    restart: unless-stopped

  frontend:
    build:
      context: ./public
      dockerfile: Dockerfile
    ports:
      - "80:80"
    container_name: circuit-frontend
    restart: unless-stopped
    depends_on:
      - backend
